.text {
    color: #822e27;
}

.background {
    background-color: #822e27;
}

.border-bottom-left-rounded {
    border-bottom-left-radius: 32px;
}

.border-top-left-rounded {
    border-top-left-radius: 32px;
}